<!DOCTYPE html>
<html>
    <head>
        <title> Add Employee </title>

    </head> 
    
    <body>

    <h1> Add Employee <h1>
        
    <form method = "POST" enctype="multipart/form-data">
        
        {% csrf_token %}

        <input type="text" name="name" placeholder="Enter Name">

        <br><br>

        <input type="email" name="email" placeholder="Enter Email">

        <br><br>

        <input type="text" name="department" placeholder="Department">

        <br><br>

        <input type="number" name="salary" placeholder="Salary">

        <br><br>
        <div class="mb-3">

    <label class="form-label">
        Employee Image
    </label>

    <input type="file"
           name="image"
           class="form-control">

    </div>
        <button type="submit">Save Employee</button>

    </form>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>